@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins&display=swap');

body {
  margin: 0px;
  font-family: 'Poppins';
  background-color: rgb(223, 172, 143);
}

#main-container {
    margin: 0px;
    position: relative;
    font-size: 2em;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    height: 80%;
    padding-top: 150px;
    align-items: center;
  }

#form-container {
    background-color: black;
}

h1 {
  font-size: 1.35em;
  margin: 35px auto;
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(75, 75, 75, 0.671);
}

#car-gif {
  position: absolute;
  bottom: 48%;
}

#search-form-container {
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 10px;
  color: rgb(0, 0, 0);
}

#text-field {
font-size: 0.7em;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 20px;
  padding: 10px;
  padding-inline-end: 1.5%;
  padding-inline-start: 1.5%;
  height: 100%;
  width: 465px;
  margin-right: 20px;
  box-shadow: 0px 0px 2px 1px rgba(182, 182, 182, 0.342);
}

#text-field:focus {
  outline: none;
  border-radius: 10px;
}

#submit-btn {
  font-size: 0.7em;
  padding: 10px 20px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(51, 129, 160);
  background-color: rgb(60, 155, 192);
  box-shadow: 1px 0px 10px 1px rgba(212, 212, 212, 0.027);
}

#submit-btn:hover{
  border: 1px solid rgb(43, 116, 145);
  background-color: rgb(51, 134, 167);
  box-shadow: inset 0 0 30px rgba(58, 58, 58, 0.164)
}